body{
background: #76B852FF;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.main-box{
    background: white;
}

input{
    background: #EBEAEA !important;
}

.Login-btn{
background:#76B852FF ;
color: white;
}
.main-box{
    -webkit-box-shadow: 0px 0px 12px 2px #000000; 
box-shadow: 0px 0px 12px 2px #000000;
}